@value md-screen from "../../vars.css";

.users-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: scroll;
}

@media (min-width: md-screen) {
    .users-container {
        width: 80%;
        max-width: md-screen;
        height: 50%;
        border: 1px solid;
        border-radius: 5px;
    }
}